DietGenie AI.xcodeproj/project.xcworkspace/xcuserdata/mertkoksal.xcuserdatad/UserInterfaceState.xcuserstate
DietGenie AI.xcodeproj/xcuserdata/mertkoksal.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
