<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9qo-9Jnzgw71jcIo8DCC-ui0SbLhznwc</string>
	<key>GCM_SENDER_ID</key>
	<string>932390640134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mika.DietGenieAI</string>
	<key>PROJECT_ID</key>
	<string>dietgenie-ai-b41d0</string>
	<key>STORAGE_BUCKET</key>
	<string>dietgenie-ai-b41d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932390640134:ios:f7696921f546e927380187</string>
</dict>
</plist>